
[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=*name*
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/josh-ints.me_master/src/api
Environment="PATH=/home/*name*/env/bin"
ExecStart=/home/*name*/env/bin/uwsgi --socket 127.0.0.1:3031 --wsgi-file app.py --callable app --master --processes 4 --threads 2 --stats 127.0.0.1:9191